<!DOCTYPE html>
<html>
    <head>
            <link rel = "stylesheet" type = "text/css" href = "assets/styles.css" />
    </head>
    <body>
        <% include partials/nav.ejs %>
        <h1>Welcome to the home page !</h1>
    </body>

</html>